.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter__number {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 35px;
}

.counter__buttons .counter__plus {
    padding: 10px 35px;
    font-size: 2rem;
    margin: 10px;
}

.counter__buttons .counter__minus {
    padding: 10px 35px;
    font-size: 2rem;
    margin: 10px;

}